@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2e3061;
}
#header {
  background-color: #28293d;
  color: #fee9ce;
}
#nav-menu li:hover {
  color: #9997bc;
}
footer {
  background-color: #28293d;
  color: #fee9ce;
}
